@font-face {
  font-family: 'HanSansCN';
  src: url('./SourceHanSansCN-Regular.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'HanSansCN-Bold';
//   // src: url('http://image.jszhuiming.com/fonts/SourceHanSansCN-Medium.otf');
//   src: url('./SourceHanSansCN-Bold.otf');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./YouSheBiaoTiHei-2.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


