//主题色
$color-theme: #08e9eb; // 主色调
$color-main: #334186; // 导航栏颜色
$color-navigator: #F8F8F8; // 页面背景色
$color-background: #E3E4E6; // 字体颜色
$color-text: #333; // 灰色
$color-gray: #8E8E93; // hover
$color-hover: #00B5FF; // 绿色
$color-success: #67c23a; // 橙色
$color-waring: #e6a23c; //红
$color-danger: #F24043; //深红
$color-red: #e4393c; //粉红
$color-icon: #4cc7c8; //粉红
$color-pink: #f56c6c; //红色
$color-error: #ed4014; //标题
$color-title: #17233d; //正文
$color-content: #515a6e; //辅助-图标
$color-sub: #808695; //白色
$color-white: #fff; // 浅白色
$color-light-white: #f1f1f1; // hover
$color-textHover: #e2e2e2; // 背景色
$color-header: #F7F7F7; // 淡色阴影
$color-light-shadow: #dadada; // 中度阴影
$color-middle-shadow: #bababa; // 深色阴影
$color-dark-shadow: #000; // 字体 超大

// 字体
$font-icon-large: 6vmin; // 字体 大
$font-icon-big: 6vmin; // 字体 中等
$font-icon-middle: 4.5vmin; // 字体 小
$font-icon-small: 4vmin;